body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.encabezado {
    width: 100%;
    height: 120px; 
    position: sticky;
    top: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie {
    height: 100px; 
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 220px); 
    padding-top: 20px; 
    padding-bottom: 20px;
    text-align: center;
}

.imagen-error {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px; 
}

h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.mensaje-secundario {
    font-size: 18px;
    color: #777;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .contenido {
        padding-top: 10px; 
        padding-bottom: 10px;
    }

    .menu a {
        margin: 0 10px;
        font-size: 14px;
    }
}
