body{
    background-color: white;
    background-image: url(../Images/fondo.jpg);
}
.encabezado{
    width: 1920px;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
}


.pie{
    height: 150px;
    width: 1920px;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}

.arriba{
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 100px;
}

.textopie{
    display: inline-block;
    margin-left: 790px;
}

.abajo{
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 10px;
}

.Zapato1{
    position: fixed;
    left: 45%;
    top: 20%;
}

.Zapato2{
    position: fixed;
    left: 45%;
    top: 60%;
}

.Zapato3{
    position: fixed;
    left: 0%;
    top: 20%;
}

.Zapato4{
    position: fixed;
    left: 0%;
    top: 60%;
}

.Zapato5{
    position: fixed;
    left: 90%;
    top: 20%;
}

.Zapato6{
    position: fixed;
    left: 90%;
    top: 60%;
}