body{
    background-color: white;
}
.encabezado{
    width: 100%;
    height: 13.88%;
    position: fixed;
    top: 0;
    left: 0;
}


.pie{
    height: 150px;
    width: 1920px;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
}

.arriba{
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 100px;
}

.textopie{
    display: inline-block;
    margin-left: 790px;
}

.abajo{
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 10px;
}

.especificaciones{
    position:absolute;
    bottom: 60%;
    left:65%
}

.producto{
    position:fixed;
    bottom: 35%;
    left: 75%;
    font-size: 175%;
}

.precio{
    position:absolute;
    bottom: 18%;
    left: 59%;
    font-size: 250%
}

.imagen{
    position: absolute;
    bottom: 30%;
    left: 55%;
    width: 250px;
    height: 250px;
}

.body{
    margin-top: -2.1%;
}

